*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div, header, main, footer, section { border: 1px solid black; }


body{ display: flex;
      flex-direction: column;

    
      min-height: 100vh;
}

/* 헤더 부분 */
header{
  height: 90px;
  display: flex;
 
    background-color: #222;
    color: #fff;
    padding: 5px 0;
  

}


.header-1{ width: 100px; }
.header-2{ width: 50px; }
.header-3{ flex-grow: 1;
  font-size: 2em;
  text-align: center; }


main{
  background-color: #ccc;
  background-image: url('https://img.freepik.com/premium-photo/spooky-scene-spooky-castle-with-full-moon-background_103224-1407.jpg');
 
  background-size: cover; 
  background-position: center; 

   
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.content-1{ height: 400px; }
.content-2{ height: 160px; }
.content-3{ flex-grow: 1;}

footer{
  height: 100px;
}

footer > section { height:50%; }